{
  networking = {
    wireless = {
      enable = true;
      
      # Specify all known networks
      networks = {
        # Home Network
        "Network1" = {
          psk = "NetworkPsk";
        };

        # Work Network
        #"WorkWiFi" = {
        #  psk = "WorkPassword456";
                # };

        };

    };
  };
}

